rect{
        fill: #74B6E3;
        transition-property: fill;
        transition-duration: 3s;
	
}

p{
    font-family:'Helvetica';
    font-size:13px;
}

.name{
    font-family:'Helvetica';
    font-size:13px;
}

.ammount{
    font-family:'Helvetica';
    font-size:13px;
}

.nameB{
    font-family:'Helvetica';
    font-size:13px;
}

.ammountB{
    font-family:'Helvetica';
    font-size:13px;
}

.left{
    float:left;
    width:50%;
    height:300px;
}

.right{
    float:right;
    width:50%;
    height:300px;
}